.header {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	width: 100%;
	height: 56px;
	padding: 0;
	background: #673ab7;
	box-shadow: 0 0 5px rgba(0, 0, 0, 50%);
}

.header h1 {
	padding: 0 15px;
	margin: 0;
	color: #fff;
	float: left;
	font-size: 24px;
	font-weight: 400;
	line-height: 56px;
}

.header nav {
	float: right;
	font-size: 100%;
}

.header nav a {
	display: inline-block;
	min-width: 50px;
	height: 56px;
	padding: 0 15px;
	background: rgba(255, 255, 255, 0%);
	color: #fff;
	line-height: 56px;
	text-align: center;
	text-decoration: none;
	will-change: background-color;
}

.header nav a:hover,
.header nav a:active {
	background: rgba(0, 0, 0, 20%);
}

.header nav a.active {
	background: rgba(0, 0, 0, 40%);
}
