/* Accommodate nav and page */
.appContainer {
	display: grid;
	grid-template-columns: 16em auto;
}


@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}