/* Google Fonts: Open Sans + Fira Code */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Open+Sans&display=swap');

:root {
	--col-main: rgb(255, 0, 50);
	--col-accent: rgb(0, 255, 255);
	--col-bgdark: rgb(22, 22, 22);
	--col-bglight: rgb(200, 200, 200);
	--col-text-dark1: rgb(10, 10, 10);
	--col-text-dark2: rgb(85, 62, 62);
	--col-text-light: rgb(240, 240, 240);
}

body {
	margin: 0;
	font-family: "Open Sans", "Arial", "Helvetica Neue", "Helvetica", "Open Sans", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: "Fira Code", source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.link {
	/* color: var(--col-accent); */
	text-decoration: underline var(--col-accent);
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {}

a {}

a:link {
	text-decoration: underline var(--col-accent);
}

a:visited {
	text-decoration: underline var(--col-accent);
}

a:hover {
	color: var(--col-accent);
	text-decoration: none;
}

a:active {
	text-decoration: none;
}


.txt-dark1 {
	color: var(--col-text-dark1);
}

.txt-dark2 {
	color: var(--col-text-dark2);
}

.txt-light {
	color: var(--col-text-light);
}