html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	background: #fafafa;
	color: #444;
	font-family: "Helvetica Neue", arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}



// -----------------------------------------------------------------------------
$col1: #ff0064;
// -----------------------------------------------------------------------------
